.App-header {
    background-image: url("../assets/texture2.jpg");
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
#top {
  margin :10px;
}

.btnProfile {
    background-color: #ff5555;
    font-size: x-large;
    color: white;
    font-family: 'Playfair Display SC', serif;
    cursor: crosshair;
    caret-color: black;
}

.card-header {
  font-weight: bold;
  font-size: 80px;
  text-decoration: underline;
  word-break: break-all;
}

.gameInfo {
  font-weight: bold;
  color: #4169E1;
  list-style-type: none;
  margin: auto;
  width: 50%;
  padding: 10px;

}

.playerInfoBox {
  border-style: solid;
  display: inline-block;
  border-color: #FF5555;
  margin:40px;
  border-radius: 10%;
  word-break: break-all;
  width: 500px;
  height: auto;
  padding: 40px;
  backdrop-filter: blur(4px);
}