.nav-bar {
    background: #ff5555;
    width: 100%;
    height: 90px;
    position: relative;
   

nav {
    width:100%;
    height: 100%;
    
    // align-items: center;
    justify-content: center;
    color: white;
    
    .container {
        display: flex;
        justify-content: center;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }

a {
        color:   white;
        text-decoration: none;
        margin: 21px;
        font-size: 30px;
        cursor: grab;
        
        


i {
    transition: all 0.3s ease-out;
}
&:hover {
    color: white;

    svg {
        opacity: 0;

    }

    &:after {
        opacity: 1;
    }
}

&:after {
    content: '';
    font-size: 15px;
    position: absolute;
    display: flex;
    opacity: 0;
    transition: all 0.3s ease-out;
}
&:first-child {
    &::after {
        content: 'RULES';
    }
}
}




a.profile-link {
&::after {
    content: 'PROFILE';
}
}
a.logout-link {
&::after {
    content: 'LOGOUT';
}
}
a.game-link {
&::after {
    content: 'GAME';
}
}

a.active {
svg {
    color: white;
}
}
@media (max-width: 1350px) {
    img {
        max-width: 15vw;
        height: auto;
    
    }
}

@media (max-width: 1075px) {
    img {
        max-width: 18vw;
        height: auto;
    }
}

@media (max-width: 850px) {
    img {
        max-width: 25vw;
        height: auto;
    }
}

}
}









